<h2>About us</h2>
<img src="../../assets/pictures/logo.png" class="w3-hover-opacity" style="width:600px">
<p id="text-control"> Our mission is to create a better world for animals</p>    

        <ul>
        <li>We end the needless suffering of animals</li>
        <li>We influence decision makers to put animals on the global agenda</li>
        <li>We help the world see how important animals are to all of us</li> 
        <li>We inspire people to change animals’ lives for the better</li>
        <li>We move the world to protect animals</li>
        </ul>
<br>
<div class="div">
    <button (click)="speak()" class="playbutton">▶️</button>
    <button (click)="stop()" class="stopbutton">⏸️</button>
</div>
<p class="paragraph">Web Accessibility ♿</p>
